@import './base.css';
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
a,
.green {
  text-decoration: none;
  color: #2653e4;
  transition: 0.4s;
  padding: 3px;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(199, 100%, 37%, 0.2);
  }
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2em;
  padding-right: 2em;
}

.loader {
  border: 6px solid #eee;
  border-top: 6px solid #338fe5;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
  margin: 2em auto;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}